<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="YandexTranslateApiKey" value=""/>
    <add key="YandexTranslateApiEndPoint" value=""/>
    <add key="YandexDictionaryApiKey" value=""/>
    <add key="YandexDictionaryApiEndPoint" value=""/>
    <add key="DatabaseConnectionString" value=""/>
  </appSettings>
</configuration>